body {
    font-family: sans-serif;
    background-color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    width: 70%;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section__title {
    font-size: 2em;
    margin-bottom: 10px;
    color: #000;
  }
  
  .section__text {
    font-size: 1.5em;
    color: #000;
  }
  
  .img {
    width: 100%;
    margin: 0 auto;
    border: 10px solid #000;
    border-radius: 5px;
  }
  
  .section__list {
    margin-bottom: 20px;
  }
  
  .section__list__item {
    margin-bottom: 10px;
  }
  
  .section__list__link {
    text-decoration: none;
    color: #000;
  }
  
  footer {
    width: 100%;
    padding: 20px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  